@media (max-with:1023px) {
    .hero {
        height: auto;
    }

    .hero__content {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .hero__desc {
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .hero__btn-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero__img-wrap {
        max-width: 569px;
    }

    .hero__img {
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .container {
        /*Ширина по макету 708px + 40px padding, которому мы задавали ране*/
        max-width: 748px;
    }

    /* Блок в котором находятся картинка и описание (секция about)*/
    .about__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .slider__list {
        gap: 30px 40px;
    }
}

@media (max-width: 767px) {
    .nav {
        overflow: hidden;
        width: 0;
        height: 0;
        transition: width 0.3s;
    }

    .nav.active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        height: auto;
        background: #292929;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 40px;
    }

    .nav__link {
        font-family: 'Arial';
        font-size: 32px;
        font-weight: 400px;
        color: #CDCDCD;
    }

    .burger {
        display: flex;
        transition: transform 0.3s;
    }
}

@media (max-width: 475px) {
    .container {
        max-width: 310px;
        padding: 0px 5px;
    }

    .friends__slider {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }

    .slider__list {}

    .slider__controls {
        position: static;
        display: flex;
        justify-content: space-between;
    }

    .slider__control {
        position: static;
        display: block;
        transform: translateY(0);
    }

    .slider__item {}
}